* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.uk-container,
.inputs {
  justify-content: center;
  margin: 2rem;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.inputs div {
  display: flex;
  flex-direction: column;
}

label {
  text-align: center;
}

button,
input {
  margin: auto 8rem;
}

h1,
h3,
p {
  text-align: center;
  padding: 1rem;
}
